<main>

  <h1 class="prim-heading">Shopping Buddy</h1>

<div class="flex-grid-half">
  <section class="col side-panel">

    <header>
      <h2 class="sec-heading"> Shopping List </h2>
    </header>

    {{!-- Iterating through list object and creating list item and corresponding svg
    buttons are used to semantically denote DOM changes
    --}}
    <ul>
      {{#each groceriesList}}
        <li id="item_{{@key}}"> 
          <img class="svgIcon" src="./assets/images/{{category}}.svg" alt="Category: {{category}}">{{item}}<button type="button" class="itemDetails" aria-labelledby="item_{{@key}}" data-id="{{_id}}">Details</button>
        </li>
      {{/each}}
    </ul>
    
  </section>

  <section class="col side-panel">

      <header id="details_panel">
        {{!-- navigational menu will include edit button --}}
        <h2 class="sec-heading"> Item Details Panel</h2>
        {{!-- edit button currently disabled --}}
        {{!-- <button name="edit_active_item" type="button" id="editButton">Edit</button> --}}
      </header>

    {{!-- Table will only show first item by default, changes on user input--}}

      <table>
        <caption>
          <h3 class="sec-heading"> Grocery Item </h3>
        </caption>
        <tr>
          <th>Category</th>
          <td class="categoryTable">{{groceriesList.0.category}}</td>
        </tr>
        <tr>
          <th>Item Name</th>
          <td class="nameTable">{{groceriesList.0.item}}</td>
        </tr>
        <tr>
          <th>Type</th>
          <td class="typeTable">{{groceriesList.0.type}}</td>
        </tr>
        <tr>
          <th>Brand</th>
          <td class="brandTable">{{groceriesList.0.brand}}</td>
        </tr>
        <tr>
          <th>Quantity</th>
          <td class="qtyTable">{{groceriesList.0.qty}}</td> 
        </tr>
      </table>

  </section> 
</div>

</main>