<main>

  <h1 class="prim-heading">Shopping Buddy</h1>

<div class="flex-grid-half">
  <section class="col side-panel">

    <header>
      <h2 class="sec-heading"> Grocery List </h2>
    </header>

    {{!-- Iterating through list object and creating list item and corresponding svg
    buttons are used to semantically denote DOM changes
    --}}
    <ul>
      {{#each groceriesList}}
        <li id="item_{{@key}}"> 
          <img class="svgIcon" src="./assets/images/{{category}}.svg" alt="Category: {{category}}">{{item}}<button type="button" class="itemDetails" aria-labelledby="item_{{@key}}" data-id="{{_id}}">Details</button>
        </li>
      {{/each}}
    </ul>
    
  </section>

  <section class="col side-panel">
    <div class="row">
      <article>
        <header class="flex-grid" id="details_panel">
          {{!-- navigational menu will include edit button --}}
          <h2 class="col sec-heading"> Item Details Panel</h2>

          <button type="button" class="itemEdit" id="editButton">Edit</button>
        </header>
  
    {{!-- Table will only show first item by default, changes on user input--}}
        <table>
          <caption>
            <h3 class="sec-heading"> Grocery Item </h3>
          </caption>
          <tr>
            <th>Category</th>
            <td id="categoryTable">{{groceriesList.0.category}}</td>
          </tr>
          <tr>
            <th>Item Name</th>
            <td id="nameTable">{{groceriesList.0.item}}</td>
          </tr>
          <tr>
            <th>Type</th>
            <td id="typeTable">{{groceriesList.0.type}}</td>
          </tr>
          <tr>
            <th>Brand</th>
            <td id="brandTable">{{groceriesList.0.brand}}</td>
          </tr>
          <tr>
            <th>Quantity</th>
            <td id="qtyTable">{{groceriesList.0.qty}}</td> 
          </tr>
        </table>

      </article>

    {{!-- Form, instead of conditional rendering ADA guidelines suggest forms always be accessible,
    here regex and form attr are used for form validation, there is much to be desired for this
    authentication scheme --}}

      <form id="editUpdateForm">
        <h3 class="sec-heading">Add/Edit Entry</h3>
        
          <div class="form-row">
            <label for="category">Category:</label>
            <select name="category" id="categoryInput"> required>
              <option value="fruit">Fruit</option>
              <option value="pasta">Pasta</option>
              <option value="dessert">Dessert</option>
              <option value="dairy">Dairy</option>
              <option value="beverage">Beverage</option>
            </select>
          </div>

          <div class="form-row">
            <label for="item">Item Name:</label>
            <input type="text" name="item" size="20" id="nameInput"
            placeholder="Item Name" pattern="^[a-zA-Z0-9_]+( [a-zA-Z0-9_]+)*$" required/>
          </div>
        
          <div class="form-row">
            <label for="type">Type:</label>
            <input type="text" name="type" size="20" id="typeInput"
            placeholder="Type of Product" pattern="^[a-zA-Z0-9_]+( [a-zA-Z0-9_]+)*$" required/>
          </div>

          <div class="form-row">
            <label for="type">Brand:</label>
            <input type="text" name="brand" size="20" id="brandInput"
            placeholder="Brand of Product" pattern="^[a-zA-Z0-9_]+( [a-zA-Z0-9_]+)*$" required/>
          </div>

          <div class="form-row">
            <label for="qty">Quantity:</label>
            <input type="text required" name="qty" id="qtyInput"
            placeholder="Quantity (Numbers Only)" pattern="^\d{1,45}$"/>
          </div>

          <button type="submit" aria-labelledby="editUpdateForm">Submit</button>
      
      
      </form>
    </div>
  </section> 
</div>

</main>